[flake8]

exclude =
    # Git folder
    .git,
    # Python Cache
    __pycache__,
    # Virtual Environment Folders
    env,
    venv

# it's not a bug that we aren't using all of hacking, ignore:
# E111: indentation is not a multiple of 4
# E114: indentation is not a multiple of 4 (comment)
# E501: Line is too long (N > 79 characters)
# F812: list comprehension redefines ...
# H101: Use TODO(NAME)
# H233: Python 3.x incompatible use of print operator
# H301: one import per line
# H306: imports not in alphabetical order (time, os)
# H401: docstring should not start with a space
# H403: multi line docstrings should end on a new line
# H404: multi line docstring should start without a leading new line
# H405: multi line docstring summary not separated with an empty line
# H501: Do not use self.__dict__ for string formatting
ignore = E111,E114,E501,F812,H101,H233,H301,H306,H401,H403,H404,H405,H501

max-complexity = 10

filename =
    *.py
